<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.htsoft.debug.ui.htcLaunch">
<booleanAttribute key="com.htsoft.debug.autoConfig" value="true"/>
<stringAttribute key="com.htsoft.debug.currTarget" value="18f252"/>
<booleanAttribute key="com.htsoft.debug.option.stopAtMain" value="true"/>
<booleanAttribute key="com.htsoft.debug.option.stopAtStartup" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.htsoft.picc18.debugger.simulator"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_REGISTER_BOOKKEEPING" value="false"/>
<booleanAttribute key="org.eclipse.cdt.launch.ENABLE_VARIABLE_BOOKKEEPING" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Release/MiniMigPic.hex"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="MiniMigPic"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value="com.htsoft.pic18.std.config.release.hex_1.0.3.261309777"/>
<booleanAttribute key="org.eclipse.cdt.launch.use_terminal" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MiniMigPic"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="false"/>
</launchConfiguration>
